﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body style="font-family: 'Sarabun', sans-serif;">
        <div class="card login p-4">
            <h3 class="text-center">เข้าสู่ระบบ</h3>
            <div class="row">
                <div class="col-12 pt-4 pr-4 pl-4">
                    <input id="username" name="username" class="form-control" type="text" placeholder="ชื่อผู้ใช้งาน" autocomplete="off" required />
                </div>
                <div class="col-12 pt-4 pr-4 pl-4">
                    <input id="password" name="password" class="form-control" type="password" placeholder="รหัสผ่าน" autocomplete="off" required />
                </div>
            </div>
            <div class="d-flex justify-content-center pt-4">
                <button class="btn btn-success" id="Auth">เข้าสู่ระบบ</button>
            </div>
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
</body>
</html>