@{
ViewData["Title"] = "Book Add";
}

@using (Html.BeginForm("NewData", "Book", FormMethod.Post))
{
<div class="mr-auto mb-auto ml-auto mt-5 border pr-5 pl-5 pt-5 pb-3 rounded shadow" style="width: 600px;">
    <div class="row">
        <div class="col-12 mb-4"><input name="ISBN" type="text" class="form-control" placeholder="รหัส" autocomplete="off" required></div>
        <div class="col-12 mb-4"><input name="Title" type="text" class="form-control" placeholder="ชื่อ" autocomplete="off" required></div>
        <div class="col-12 mb-5"><input name="Price" type="number" step="any" class="form-control" placeholder="ราคา" autocomplete="off" required></div>
    </div>
    <div class="d-flex justify-content-end">
        <a asp-controller="Book" asp-action="Index" class="btn btn-danger mr-3">ยกเลิก</a>
        <button type="submit" class="btn btn-warning">เพิ่มหนังสือ</button>
    </div>
</div>
}