@model WebApp.Models.Book
@{
ViewData["Title"] = "Book Edit";
}

@using (Html.BeginForm("BookEdit", "Book", new {ID = Model.ID}, FormMethod.Post))
{
<div class="mr-auto mb-auto ml-auto mt-5 border pr-5 pl-5 pt-5 pb-3 rounded shadow" style="width: 600px;">
    <div class="row">
        <div class="col-12 mb-4"><input name="ISBN" autocomplete="off" required type="text" value="@Model.ISBN"
                class="form-control" placeholder="รหัส"></div>
        <div class="col-12 mb-4"><input name="Title" autocomplete="off" required type="text" value="@Model.Title"
                class="form-control" placeholder="ชื่อ"></div>
        <div class="col-12 mb-5"><input name="Price" autocomplete="off" required type="number" step="any" value="@Model.Price"
                class="form-control" placeholder="ราคา"></div>
    </div>
    <div class="d-flex justify-content-end">
        <a asp-controller="Book" asp-action="Index" class="btn btn-danger mr-3">ยกเลิก</a>
        <button type="submit" class="btn btn-warning">อัพเดตข้อมูลหนังสือ</button>
    </div>
</div>
}