﻿@model IEnumerable<WebApp.Models.Book>
@{
    ViewData["Title"] = "Book List";
}
<div class="row mb-4 mt-4">
    <div class="col-7 d-inline align-items-center">
    @using (Html.BeginForm("Index", "Book", FormMethod.Get)){
        <input name="txt" value="@ViewBag.Txt" type="text" class="form-control d-inline col-9" autocomplete="off" placeholder="ค้นหาหนังสือ">
    }
    </div>
    <div class="col-5 d-flex justify-content-end"><a class="btn btn-success" asp-area="" asp-controller="Book" asp-action="Add">เพิ่มข้อมูล</a></div>
</div>
<table class="table table-striped table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>รหัส</th>
            <th>ชื่อ</th>
            <th>ราคา</th>
            <th>จัดการ</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() != 0){
            foreach(var item in Model){
                <tr>
                    <td>@item.ISBN</td>
                    <td>@item.Title</td>
                    <td>@string.Format($"{@item.Price:n}")</td>
                    <td><a href="/Book/Edit/@(item.ID)" class="btn btn-warning btn-sm mr-1">แก้ไข</a>
                        |<a href="/Book/DeleteBook/@(item.ID)" class="btn btn-danger btn-sm ml-1">ลบ</a></td>
                </tr>
            }
        }else{
            <tr>
                <td class="h4" colspan="4">ไม่พบข้อมูล</td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <!--จะแสดงใต้ RenderSection ของหน้าเว็บนี้เท่านั้น -->
     <!--<script src="~/js/out.js"></script> -->
}